@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.material-icons{
    color: #007bff;
    background-color: white;
    font-size: 3em;
    font-weight: bold;
}


p {
    padding: 0.5em 0;
}

.about-container ul {margin: 0.8rem; padding-left: 0.5rem}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures footer stays at the bottom for short content */
    align-items: center;
    background-color: #f7f7f7; /* light gray for some minimal background */
}


.header, .footer {
    width: 100%; /* spans the full viewport width */
    background-color: #333; /* a dark background for contrast */
    color: white; /* white text for visibility against the dark background */
    padding: 12px 0; /* some spacing around the content */
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: solid #333 4px;
    padding: 0.2em 1em;
}

.inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1em;
}

h1 {
    font-size: 1.8em;
    padding: 0 0 0.5em 0;
}


.footer {
    text-align: center;
}

img.logo {
    height: 50px;
    width: auto;
}

.logo-link a {
    color: #f7f7f7;
    text-decoration: none;
    font-size:1.25em;
}

ul.menu {
    width:100%;
    display:flex;
    justify-content:right;
}

.menu li{
    list-style: none;
    padding: 0.2em 0.5em;
    flex-shrink:0;
}

.menu a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: 1.25em;
}

.email {
    color: #007bff;
}


.material-icons.up  {
    padding: 0 0 0 0.5em;
    font-size: 1.4rem;
    color: gray;
    text-decoration: none;;
}



.flip-container{
    width: 100%
}

.main-content {
    width: 100%; /* takes full viewport width by default */
    max-width: 720px; /* won't go beyond 960px wide */
    min-width: 400px;
    flex: 1; /* takes all available space, pushing the footer down */
    background-color: white; /* a white box for content */
    margin: 0px 0px; /* some vertical spacing between header, content, and footer */
    padding: 10px; /* some spacing around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

.about-container {
    margin: 10px 0px;
    line-height: 1.5;
    font-size: 1.3rem;
    padding: 0 1em;
}

.about-container h2, .about-container h3 {
    padding: 0.5rem 0;
}


h2, h3 {
    transition: color 1.5s; 
}

h2:target, h3:target {
    color: #007bff /* or any "light up" color you prefer */
}


/* box1 - pace-box, box2 - spacer, box3 - percent-box */

.pace-box, .percent-box {
    transition: transform 0.4s ease; 
}



.flip-button {
    border:none;
    font-size:1em;
    transition: transform 0.4s; /* This will make the rotation smooth */
    transform-origin: center;   /* This will ensure the rotation happens from the center of the button */
}

.flipped {
    transform: rotateZ(180deg); /* This will flip the button 180 degrees along the Y axis */
}


.percent-text {
    display:flex;
}

.percent-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow-box {
    display:flex;
}

.app-content {
    width: 100%;
    display: flex;
    padding: 0 1em;
    flex-direction: column;
    align-items: center;
    flex:auto;
}

.app-title {
    text-align:center;
    margin-bottom: 0.2em;
    font-size:1.5em;
}



/* Responsive styling */

.logo-link {
    display: none;
    width: 100%
}


@media (min-width: 620px) { /* slightly bigger than 960px to account for the padding */
    .main-content {
        padding: 10px 10px; /* reduce horizontal padding on smaller screens */
    }
    .app-content {
        width: 80%;
    }

    .logo-link {
        display: block;
    }
    
}
/* Digitbox */
.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.digitbox {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.digit {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 4.5em;
}

.colon {
    padding: 0;
    margin: 0px;
}

.pace-result, .convert-result {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 4.5em;
}

.convert-units, .result-units {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 1.5em;
}

/* Button stuff */


.svg-arrow {
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #0056b3 2px;
    border-radius: 10px;
    padding: 0 0px;
    margin: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}

/* Hover only on mice */
@media (hover: hover) {
    .svg-arrow:hover, .pct-button:hover, .unit-toggle:hover {
        background-color: #bde2ff;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.12);
    }

    .i-note:hover{
        background-color: #bde2ff;
        cursor:pointer;
    }

    .flip-button:hover {
        color: #0056b3;
        cursor:pointer;
    }
    .unit-toggle:hover{
        color:black;
    }

    .logo-link a:hover{
        color:#84caff;
    }

    .menu a:hover {
        color:#84caff;
    }

    .material-icons.up:hover  {
        color:#007bff;
    }
}

.svg-arrow:active, .pct-button:active {
    /* Must be AFTER hover def! */
    background-color: #84caff;
    /* color: white; */
}

.i-note:active {
    color:white;
    border: solid #84caff 2px;
}


/* At spacer */
.spacer {
    padding: 0.4em 0;
    font-size: 1.75em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.2s ease; /* Half the time of the transform transition */
}


.spacer-box.empty {
    width: 1em;
}


.equals {
    padding: 0.4em;
    font-size: 1.75em;
}

.percent-box {
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.percent-pct.digit {
    font-weight: normal;
    font-size: 3.5em;
}

.percent-digits.digit {
    font-size: 3.5em;
}

.pct-button {
    font-size: 1.4em;
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #007bff 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    height: 2em;
    width: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}

/* Toggle slider */
.toggle-box {
    padding: 0.75em 0;
    display:flex;
    align-items: center;
    gap: 0.5em;
    font-size:1.25em;
    /* border: solid red 1px; */
    width: 100%;
    justify-content:space-between;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* To / from units */

.unit-conversion{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.from-to-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5em 0;
}

.from-to-text{
    color:#333;
    font-size:2.5em;
}

.unit-toggle{
    border: none;
    font-size:1.25em;
    border-radius:5px;
    padding: 0.25em 0.5em;
    cursor:pointer;
}

/* IF the to/from unit buttons are active */
.active {
    background-color: #2196F3;
    color:white;
}

.unit-toggle:active{
    background-color: #2196F3;
}


  /* Notes */
.pace-speed-text{
    font-weight: bold;
}

.i-note {
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #007bff 2px;
    background-color: #ffffff;
    font-size: 1.25rem;
    width:1.25em;
    height:1.25em;
    display:flex;
    border-radius: 50%;
    color: #2196F3;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
}


.author-link{
    color:white;
}


.material-icons.inline-icon {
    font-size:1em;
}


.github-icon {
    padding: 0 1em;
    font-size:1.25em;
    text-decoration: none;
    color:white;
}

/* TABLE STYLING */

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #e6e6e6;
}



