@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures footer stays at the bottom for short content */
    align-items: center;
    background-color: #f7f7f7; /* light gray for some minimal background */
}


.header, .footer {
    width: 100%; /* spans the full viewport width */
    background-color: #333; /* a dark background for contrast */
    color: white; /* white text for visibility against the dark background */
    padding: 20px; /* some spacing around the content */
    text-align: center;
}

.main-content {
    width: 100%; /* takes full viewport width by default */
    max-width: 600px; /* won't go beyond 960px wide */
    flex: 1; /* takes all available space, pushing the footer down */
    background-color: white; /* a white box for content */
    margin: 0px 0; /* some vertical spacing between header, content, and footer */
    padding: 20px; /* some spacing around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

h1 {
    text-align:center;
    margin-bottom: 0.5em;
}

/* Responsive styling */
@media (max-width: 980px) { /* slightly bigger than 960px to account for the padding */
    .main-content {
        padding: 20px 10px; /* reduce horizontal padding on smaller screens */
    }
}
/* Digitbox */
.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.digitbox {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.digit {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 5.5em;
}

.colon {
    padding: 0;
    margin: 0px;
}

.at {
    font-family:'Roboto', sans-serif;
    font-size: 2em;
    padding: 0 0.5em;
}

/* Button stuff */
.material-icons{
    color: #007bff;
    background-color: white;
    font-size: 3em;
    font-weight: bold;
}

.svg-arrow {
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #0056b3 2px;
    border-radius: 10px;
    padding: 0 0px;
    margin: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}

/* Hover only on mice */
@media (hover: hover) {
    .svg-arrow:hover, .pct-button:hover {
        background-color: #bde2ff;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.12);
    }

    .i-note:hover{
        background-color: #bde2ff;
        cursor:pointer;
    }
}

.svg-arrow:active, .pct-button:active {
    /* Must be AFTER hover def! */
    background-color: #84caff;
    /* color: white; */
}

.i-note:active {
    color:white;
    border: solid #84caff 2px;
}


/* At spacer */
.spacer {
    padding: 0.2em;
    font-size: 2.25em;
}

.equals {
    padding: 0.2em;
    font-size: 1.5em;
}

.percent-box {
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.percent-pct.digit {
    font-weight: normal;
    font-size: 3.5em;
}

.percent-digits.digit {
    font-size: 3.5em;
}

.pct-button {
    font-size: 1.4em;
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #007bff 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    height: 2em;
    width: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}

/* Toggle slider */

/* .percent-box{
    border: solid red 2px;
} */

.toggle-box {
    padding: 0.75em 0;
    display:flex;
    align-items: center;
    gap: 0.5em;
    font-size:1.25em;
    /* border: solid red 1px; */
    width: 70%;
    justify-content:space-between;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  /* Notes */

.pace-speed-text{
    font-weight: bold;
}

.i-note {
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid #007bff 2px;
    background-color: #ffffff;
    font-size:1em;
    width:1.25em;
    height:1.25em;
    display:flex;
    border-radius: 50%;
    color: #2196F3;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
}


/* Table styling */

.table-space {
    border: solid red 2px;
}



